{% extends "traktplus/trakt-base.html" %}

{% block trakt_title %}{{ user }}'s {{ title }}{% endblock %}

{% block trakt_content %}

<div class="inner">
        <div class="profile">
          <div class="user_info">
            <img src="{{ profile.images.avatar.full }}"/>
            <h2>{{ profile.username }}</h2>

            <table>
              <tr>
                <td><b>Full Name:</b></td>
                {% if profile.name %}
                  <td>{{ profile.name }}</td>
                {% else %}
                  <td>None</td>
                {% endif %}
              </tr>
              <tr>
                <td><b>Location:</b></td>
                {% if profile.location %}
                  <td>{{ profile.location }}</td>
                {% else %}
                  <td>None</td>
                {% endif %}
              </tr>
              <tr>
                <td><b>Age:</b></td>
                {% if profile.age %}
                  <td>{{ profile.age }}</td>
                {% else %}
                  <td>None</td>
                {% endif %}
              </tr>
              <tr>
                <td><b>Gender:</b></td>
                {% if profile.gender %}
                  <td>{{ profile.gender }}</td>
                {% else %}
                  <td>None</td>
                {% endif %}
              </tr>
            </table>
          </div>

          <div class="menu">
            <a class="button addloading" data-xhr_url="watchlist/{{ profile.username }}">Watchlist</a>
            <a class="button addloading" data-xhr_url="library/{{ profile.username }}">Library</a>
            <a class="button addloading" data-xhr_url="rated/{{ profile.username }}">Rated</a>
            <a class="button addloading" data-xhr_url="get_lists/{{ profile.username }}">Lists</a>
            <a class="button addloading" data-xhr_url="progress/{{ profile.username }}">Progress</a>
          </div>

          {% if scrobble != None %}
            <div class="watching">
              <b>Currently watching:</b>
              {% if scrobble.type == 'movie' %}
                <span class="link goto_movie addloading" data-id="{{ scrobble.movie.ids.slug }}">
                  {{ scrobble.movie.title }} ({{ scrobble.movie.year }})
                </span>
              {% else %}
                <span class="link goto_show addloading" data-id="{{ scrobble.show.ids.slug }}">
                  {{ scrobble.show.title }}
                  </span>
                  <span
                    class="goto_episode list_link addloading" 
                    data-id="{{ scrobble.show.ids.slug }}" 
                    data-season="{{ scrobble.episode.season }}"
                    data-episode="{{ scrobble.episode.number }}"
                  >
                  {{ scrobble.episode.season }}x{{ scrobble.episode.number }} - {{ scrobble.episode.title }}
                </span>
              {% endif %}
              <br>
            </div>
          {% endif %}

          <div class="watched">
            <b>Movies:</b>
            <span>Collection: {{ stats.total_m }}</span>
            <span>Watched: {{ stats.watched_m }}</span><br>

            <div class="bar" title="{{ movies_progress }}%">
              <div class="inner" style="width: {{ movies_progress }}%;"></div>
            </div>
            <br>
            <b>Episodes:</b>
            <span>Collection: {{ stats.total_e }}</span>
            <span>Watched: {{ stats.watched_e }}</span><br>

            <div class="bar" title="{{ episodes_progress }}%">
              <div class="inner" style="width: {{ episodes_progress }}%;"></div>
            </div>
          </div>

          <div class="toggle_hidden">
            <b>Recently watched</b>
            <img src="{{ url_for('static', filename='images/arrow_down.png') }}"/>
          </div>

          <div class="recently_watched hidden">
            <table width="100%">
              {% for item in history %}
                <tr>
                  <td width="65%">
                    {% if 'episode' in item %}
                      <span>
                        <span class="goto_show link addloading" data-id="{{ item.show.ids.slug }}">
                          {{ item.show.title }}
                        </span>
                        <span
                          class="goto_episode list_link addloading" 
                          data-id="{{ item.show.ids.slug }}" 
                          data-season="{{ item.episode.season }}"
                          data-episode="{{ item.episode.number }}"
                        >
                          {{ item.episode.season }}x{{ item.episode.number }} - {{ item.episode.title }}
                        </span>
                      </span>
                    {% else %}
                      <span class="link goto_movie addloading" data-id="{{ item.movie.ids.slug }}">
                        {{ item.movie.title }} ({{ item.movie.year }})
                      </span>
                    {% endif %}
                  </td>
                  <td width="35%" align="right">{{ item.watched_at }}</td>
                </tr>
              {% endfor %}
          </ul>
          </div>
        </div>
</div>

{% endblock %}
